body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header, footer {
    text-align: center;
    padding: 10px 0;
}

.header-logo, .footer-logo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black; /* Otsikoiden väriksi musta */
}

p, ul, li {
    color: black; /* Tekstin väriksi musta */
}
}

.section-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
